/*button animation arrow*/
.btn-arrow-anim {
  width: 28px;
  height: 35px;
  cursor: pointer;

  &_left {
    transform: rotate(90deg);
  }

  &_right {
    transform: rotate(-90deg);
  }

  &_top {
    transform: rotate(180deg);
  }

  &:hover {
    .btn-arrow-anim__icn {

      &_first {
        animation-delay: .3s;
        animation-duration: 1s;
        animation-name: btn-hover;
        animation-iteration-count: infinite;
      }

      &_middle {
        animation-delay: .2s;
        animation-duration: 1s;
        animation-name: btn-hover;
        animation-iteration-count: infinite;
      }

      &_last {
        animation-delay: .1s;
        animation-duration: 1s;
        animation-name: btn-hover;
        animation-iteration-count: infinite;
      }
    }
  }

  &__item {
    display: block;
    text-align: center;
  }

  &__item + &__item {
    margin-top: -10px;
  }
}

@keyframes btn-hover {

  0% {
    fill-opacity: 1;
  }

  25% {
    fill-opacity: 0.22;
  }

  50% {
    fill-opacity: 0.12;
  }

  75% {
    fill-opacity: 0.22;
  }

  100% {
    fill-opacity: 1;
  }
}
@-webkit-keyframes btn-hover {

  0% {
    fill-opacity: 1;
  }

  25% {
    fill-opacity: 0.22;
  }

  50% {
    fill-opacity: 0.12;
  }

  75% {
    fill-opacity: 0.22;
  }

  100% {
    fill-opacity: 1;
  }
}
