* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;

  @media (min-width: 768px) {
    height:  100vh;
    overflow: hidden;
  }
}

.stub {

  &-wrap {
    background: #000;

    @media (min-width: 768px) {
      height: 100vh;
      overflow: hidden;
    }

    &__hold {
      height: 100vh;
      margin: auto;
      width: 100%;

      @media (max-width: 767px) {
        height: auto;
      }
    }
  }

  &__top-line {
    //position: absolute;
    //top: 0;
    //left: 0;
    z-index: 1;
    width: 100%;
    height: 110px;
    background: #171717;

    @media (max-width: 767px) {
      height: 55px;
    }
  }

  &__center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 230px 0 0;
    height: calc(100vh - 110px);

    @media (max-width: 767px) {
      padding: 0;
      height: 100vh;
    }

  }

  &-head {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    transform: translateY(-30px);
    opacity: 0;

    animation: slideText .25s linear 4.75s;
    animation-fill-mode: forwards;

    &__title {
      margin: 0;

      color: rgba(255,255,255, .4);
      font-size: 1rem;
      font-weight: 600;

      letter-spacing: 21px;
      text-transform: uppercase;

      @media (max-width: 767px) {
        font-size: .9rem;
        letter-spacing: 4px;
      }

      @media (min-width: 1600px) {
        font-size: 1.2rem;
      }
    }
  }

  &-slideshow {
    //display: flex;
    //margin-top: -150px;
    //height: 100%;
    background: #000;
    height: 80%;
    display: block;
    overflow: hidden;

    @media (max-width: 414px) {
      //margin: -180px 0 0;
      height: 230px;
    }

    @media (max-width: 360px) {
      //margin: -180px 0 0;
      height: 204px;
    }
  }

  &__bottom-line {
    flex-shrink: 0;
    //height: 70px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    background: #171717;
    padding: 10px 0;

    @media (max-width: 767px) {
      flex-direction: column;
      height: auto;
      padding: 15px 15px 0 30px;
      //transform: translateY(400px);
      //animation: slideBoxMobile .25s cubic-bezier(.6,.23,0,1.02) 4.5s;
      //animation-fill-mode: forwards;
    }

    @media (max-width: 360px) {
      flex-direction: column;
      height: auto;
      padding: 0 15px;
    }
  }

  &-address {
    display: block;
    width: 100%;
    font-style: normal;
    white-space: nowrap;
    padding: 10px;

    @media (min-width: 768px) {
      padding: 0 3%;
      min-height: 60px;
    }

    @media (min-width: 800px) {
      padding: 0 5%;
    }

    @media (min-width: 1024px) {
      padding: 0 6%;
    }
    
    &__item {
      color: rgba(255,255,255, .4);
      font-weight: 300;
      text-decoration: none;
      line-height: 28px;
      font-size: 16px;

      &_local {
        display: inline-block;
        vertical-align: middle;

        @media (max-width: 1024px) {
          display: block;
        }
      }

      &_map {
        display: inline-block;
        font-size: 16px;
        color: #fff;
        border-bottom: 1px solid #fff;

        &:hover {
          border-bottom: 1px solid transparent;
        }
      }
    }

    &_tel {
      text-align: center;

      @media (max-width: 767px) {
        text-align: left;
      }
    }

    &_mail {
      text-align: right;

      @media (max-width: 767px) {
        text-align: left;
      }
    }
  }

  &-btn-wrap {
    //position: absolute;
    //bottom: 230px;
    //left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;

    @media (max-width: 767px) {
      bottom: 150px;
      flex-direction: column;
      align-items: center;
      padding: 80px 0 0;
    }

    @media (max-width: 320px) {
      padding: 40px 0 0;
    }
    //
    //@media (min-width: 1600px) {
    //  bottom: 250px;
    //}
  }

  &-btn {
    overflow: hidden;

    @media (max-width: 767px) {
      min-width: 246px;
      padding: 20px 0;
    }

    &_center {
      text-align: center;
    }

    &__link {
      position: relative;
      z-index: 1;

      display: inline-block;
      margin: 0 130px;

      text-decoration: none;
      border-left: 3px solid #fff;

      overflow: hidden;


      @media (max-width: 991px) {
        margin: 0 64px;
      }


      @media (max-width: 767px) {
        width: 100%;
        margin: 0;
      }

      @media (min-width: 1600px) {
        margin: 0 170px;
        //padding: 20px 30px;
      }

      &:hover {

        &:before {

          @media (min-width: 768px) {
            left: 0;
          }
        }

        .stub-btn__text {

          @media (min-width: 768px) {
            color: #000;
          }
        }
      }

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;

        width: 100%;
        height: 100%;

        background: #fff;
        transition: .25s;
      }

      &_n {
        margin: 0;
        width: 245px;
        height: 53px;
      }
    }

    &__text {
      position: relative;
      z-index: 2;

      display: inline-block;
      padding: 15px 20px;

      color: #fff;
      font-size: 1rem;
      font-weight: 700;


      background: transparent;
      border: none;
      outline: none;

      cursor: pointer;

      @media (min-width: 1600px) {
        font-size: 1.2rem;
      }
    }
  }
}

.slide-text-top {
  //opacity: 0;
  //transform: translateY(30px);

  //animation: slideTextTop .25s linear 4.75s;
  //animation-fill-mode: forwards;
}

.slide-text-right {

  @media (min-width: 768px) {
    transform: translateX(-30px);
    opacity: 0;
    animation: slideTextRight .25s linear 4.25s;
    animation-fill-mode: forwards;
  }
  
  &_file {
    color: #7f7f7f;
  }
}

.slide-box {
  //position: absolute;
  //bottom: 0;
  //left: 0;
  z-index: 1;
  width: 100%;
  //transform: translateY(110px);
  //animation: slideBox .25s cubic-bezier(.6,.23,0,1.02) 4.5s;
  //animation-fill-mode: forwards;

  @media (max-width: 767px) {
    position: static;
    //transform: translateY(120px);
    //transform: translateY(0px);
  }
}

.slide-btn {

  @media (min-width: 768px) {
    transform: translateY(-63px);
    animation: slideBtn .25s linear 4s;
    animation-fill-mode: forwards;
  }
}

@keyframes slideBoxMobile {
  to {
    transform: translateY(120px);
  }
}

@keyframes slideBox {
  to {
    transform: translateY(0);
  }
}

@keyframes slideTextRight {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideTextTop {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideBtn {
  to {
    transform: translateY(0);
  }
}

.soc-net {
  display: flex;
  justify-content: flex-end;
  //width: 152px;
  padding: 7px 0 0;

  @media (max-width: 1024px) {
    padding: 20px 0 0;
  }

  @media (max-width: 767px) {
    width: 152px;
    padding: 30px 0;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    text-decoration: none;
    margin: 0 0 0 46px;

    &:hover {

      & .soc-net__icn {
        fill: rgba(255,255,255,1);
      }
    }
  }

  &__icn {
    //width: 100%;
    //height: 100%;
    fill: rgba(255, 255, 255, 0.4);
    transition: .15s;
  }
}