/*Icon dropbox*/
.icn {

  &-headset {
    height: 24px;
    background-position: -6px -5px;
  }
  
  &-cart {
    height: 24px;
    background-position: -6px -36px;
  }

  &-diagram {
    height: 24px;
    background-position: -6px -67px;
  }

  &-rocket {
    height: 24px;
    background-position: -6px -100px;
  }

  &-1c {
    height: 15px;
    background-position: -6px -132px;
  }

  &-bitrix {
    height: 24px;
    background-position: -6px -154px;
  }

  &-box {
    height: 24px;
    background-position: -6px -181px;
  }
}