//PAGE INDEX
//color text
$color-main-text: #031921;

//color logo
$color-logo: #0a2b3a;

//color menu text
$color-menu-link: #0e4468;
$color-menu-link-hover: #088dc1;

//color background body
$color-bg-body: #f7f8f8;

//color background dropbox
$color-bg-dropbox: #f1f5f7;

//color link
$color-main-link: #0e4468;
$color-main-link-hover: #088dc1;

//color select language
$color-sel-lang: #031921;

//color btn
$color-btn-white: #ffffff;
$color-btn-gray: #b0b0b0;
$color-btn-blue: #088dc1;

//color background footer panel
$color-bg-footer-panel: #031921;

//color form feedback footer
$color-feedback-footer: #b0b0b0;
$color-field-active: #088dc1;

//color link footer
$color-link-footer: #088dc1;

$black: #000;
$white: #fff;
$ex-border: #3a7c99;

//color border
$color-border: #d2e0ea;

//background
$bg-gray: #f7f7f7;

//color popuper title
$color-title-popuper: #088dc1;

//color text prompt
$color-text-promt: #b3babc;

//color error
$color-error: #ff3600;

//color error
$color-error: #ff3600;

//--------------------------------
//PAGE PROJECT
$color-title-project: #0e4468;
$color-text-light-project: #4c4c4c;
$color-text-project: #3f3f3f;
$color-btn-back-projects: #5d5d5d;
$color-link-projects: #299cc9;
$color-text-pale: #d0d0d0;
$color-bg-rad-gr-main: #097dae;
$color-bg-rad-gr-blue: #088dc1;
$color-bg-main: #0e4468;
$color-bg-list-style: #3d7190;

$color-link-proposed: #7ee2ff;
$color-num-big: #45bcec;