.attach-file {
  position: relative;
  padding: 15px 0 15px 44px;
  cursor: pointer;

  &:before {
    content: '';
    display: block;
    width: 1px;
    height: 1px;
    position: absolute;
    top: 28px;
    left: 15px;
    box-shadow: 0 0 20px 5px rgba(179,186,188,1);
  }

  &__icn {
    position: absolute;
    left: 0;
    top: 15px;
  }
  
   &__title {
     display: block;
     font-size: 0.75rem;
     color: $color-main-text;
     margin: 0 0 3px 0;
   }

  &__text {
    display: block;
    font-size: 0.75rem;
    color: $color-text-promt;
  }
}
