.slider-projects {
  //width: 94.5%;
  max-width: 2100px;

  @media (max-width: 767px) {
    width: 100%;
    padding: 45px 10px;
  }

  &-wrapper {
    flex-grow: 1;
    padding: 140px 55px 45px;
  }

  &-list {
    list-style: none;
    margin: 0;
    padding: 0;

    &__item {
      width: 536px;

      @media (max-width: 767px) {
        width: 290px;
      }

      @media (max-width: 320px) {
        width: 240px;
      }
    }
  }
}

.slider-scroll-icon {
  display: none;

  @media (max-width: 1280px) {
    display: block;
    text-align: right;
    padding: 10px 0 20px;
  }

  &__ico {
    animation: icon-anim 1.5s infinite;
  }
}

@keyframes icon-anim {
  0% {
    transform: translate3d(-20px,0,0);
    opacity: 0;
  }

  10% {
    transform: translate3d(-20px,0,0);
    opacity: 0;
  }

  20% {
    transform: translate3d(-20px,0,0);
    opacity: 1;
  }

  70% {
    transform: translate3d(0,0,0);
    opacity: 1;
  }

  80% {
    transform: translate3d(0,0,0);
    opacity: 1;
  }

  81% {
    transform: translate3d(0,0,0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0,0,0);
    opacity: 0;
  }
}

.swiper-scrollbar-wrapper {
  position: relative;
  width: 51.715%;
  margin: 0 auto;
  padding: 70px 0 126px;

  @media (max-width: 767px) {
    padding: 20px 0 60px;
  }
}

.swiper-scrollbar {
  width: 100%;
  top: 130px;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  position: absolute;
  z-index: 50;
  height: 5px;
  background: rgba(255,255,255,.13);

  @media (max-width: 767px) {
    top: 20px;
  }
}

.swiper-scrollbar-drag {
  background: #fff;
}