.slider-projects {
  width: 94.5%;
  padding: 45px 0;

  @media (max-width: 767px) {
    width: 100%;
    padding: 45px 10px;
  }

  &-list {
    list-style: none;
    margin: 0;
    padding: 0;

    &__item {
      width: 536px;

      @media (max-width: 767px) {
        width: 290px;
      }

      @media (max-width: 320px) {
        width: 240px;
      }
    }
  }
}

.swiper-scrollbar-wrapper {
  position: relative;
  width: 51.715%;
  margin: 0 auto;
  padding: 70px 0 126px;

  @media (max-width: 767px) {
    padding: 20px 0 60px;
  }
}

.swiper-scrollbar {
  width: 100%;
  top: 70px;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  position: absolute;
  z-index: 50;
  height: 5px;
  background: rgba(255,255,255,.13);

  @media (max-width: 767px) {
    top: 20px;
  }
}

.swiper-scrollbar-drag {
  background: #fff;
}