/*feedback*/
.feedback {
  flex-shrink: 0;
  position: relative;
  width: 397px;
  padding: 40px 0 0 37px;
  z-index: 20;

  &__row {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
  }

  &__label {
    position: absolute;
    top: 0;
    bottom: auto;
    left: 0;
    width: 100%;
    height: 41px;
    display: block;
    font-size: 0.875rem;
    color: $color-feedback-footer;
    padding-top: 12px;
    transition: .3s;
    z-index: 0;

    &.active {
      display: inline;
      height: auto;
      bottom: 100%;
      font-size: 10px;
      transform: translateY(-10px);
      transition: transform .3s;
      padding: 0;
    }
  }

  &__input {
    width: 100%;
    height: 41px;

    &.error {
      border-color: $color-error;
    }
  }

  &__input, &__textarea {
    position: relative;
    border: 0;
    border-bottom: 1px solid $color-feedback-footer;
    background: transparent;
    color: #fff;
    font-size: 1rem;
    z-index: 1;
    
    &:focus, &:active{
      outline: none;
      border-bottom: 1px solid $color-field-active;
      
      & + label{
        display: inline;
        height: auto;
        bottom: 100%;
        font-size: 10px;
        transform: translateY(-10px);
        transition: transform .3s;
        padding: 0;
      }
    }

    &_active + label {
      display: inline;
      height: auto;
      bottom: 100%;
      font-size: 10px;
      transform: translateY(-10px);
      transition: transform .3s;
      padding: 0;
    }
  }

  &__textarea {
    width: 100%;
    resize: none;
    padding: 12px 0;
    margin: 0 0 24px 0;

    &.error {
      border-color: $color-error;
    }
  }

  & .btn {
    margin: 0 auto;
  }
}
